.calcl {
    display: flex;
    background-color: darkblue;
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    background-color: darkgrey;
  }
  
  .container {
    position: relative;
    margin: 10vh auto;
    width: 500px;
    height: 700px;
    perspective: 1000px;
  }
  
  .cube {
    width: inherit;
    height: inherit;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .side {
    position: absolute;
    height: inherit;
    width: inherit;
    font: normal 70px sans-serif;
    display: inherit;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 5px;
    backface-visibility: hidden;
    background-color: pink;
    border: 2px solid #fff;
  }
  
  .side:nth-last-of-type(1) {
    height: 100px;
  }
  .side:nth-last-of-type(2) {
    height: 100px;
  }
  .side:nth-last-of-type(3) {
    width: 100px;
  }
  .side:nth-last-of-type(4) {
    width: 100px;
  }
  
  .front {
    transform: translateZ(50px);
  }
  .back {
    transform: rotateY(180deg) translateZ(50px);
    text-align: center;
    line-height: 100px;
  }
  .right {
    transform: rotateY(90deg) translateZ(250px);
  }
  .left {
    transform: rotateY(-90deg) translateZ(250px);
  }
  .top {
    transform: rotatex(90deg) translateZ(350px);
  }
  .bottom {
    transform: rotateX(-90deg) translateZ(350px);
  }
  
  /* none */
  
  #calc {
    width: inherit;
    height: inherit;
    background-color: pink;
    border-radius: 5px;
    padding: 20px;
    display: grid;
    grid-template-rows: 0.7fr 1fr;
    grid-row-gap: 20px;
  }
  .calc_display {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #console-calc {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    flex: 0.4;
    width: inherit;
    text-align: right;
    border: none;
    outline: none;
    background-color: white;
  }
  #display {
    flex: 1;
    width: inherit;
    border: none;
    outline: none;
    background-color: white;
    color: black;
    font-size: 70px;
    text-align: right;
    padding-left: 20px;
    padding-right: 20px;
    text-overflow: ellipsis;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  
  #calc__clock-face {
    display: inherit;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
  }
  .calc__btn {
    border: none;
    border-radius: 3px;
    outline: none;
    background-color: #fff;
    color: #000;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s;
  }
  .btn-operation:hover {
    background-color: skyblue;
  }
  .btn-clear:hover {
    background-color: goldenrod;
  }
  .btn-number:hover {
    background-color: darkgrey;
  }
  #btn-decimal:hover {
    background-color: greenyellow;
  }
  .calc__btn:nth-of-type(10) {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 3;
    border-bottom-left-radius: 10px;
  }
  .calc__btn:nth-of-type(11) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .calc__btn:nth-of-type(12) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
  }
  .calc__btn:nth-of-type(13) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 4;
    grid-column-end: 5;
  }
  .calc__btn:nth-of-type(14) {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 4;
  }
  .calc__btn:nth-of-type(15) {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 5;
  }
  .calc__btn:nth-of-type(16) {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 4;
    grid-column-end: 5;
  }
  .calc__btn:nth-of-type(17) {
    grid-row-start: 4;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 5;
    border-bottom-right-radius: 10px;
  }
  .calc__btn:nth-of-type(17):hover {
    background-color: red;
  }